<html>
    <head>
        <title>Contact Book App</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
            integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="/custom.css">
        <script>
            $(document).ready(function() {
                var max_fields = 5;
                var wrapper = $(".increment");
                var add_button = $(".add_field_button");
                
                var x = 1;
                $(add_button).click(function(e){
                    e.preventDefault();
                    if(x < max_fields){
                        x++;
                        $(wrapper).append('<input type="number" class="form-control" id="mobile" placeholder="Enter Mobile no." name="user[phone]" value="<%= user.phone %>"><a href="" class="remove_field"><i class="fa fa-times-circle fa-lg"></i></a>');
                    }
                });
                
                $(wrapper).on("click",".remove_field", function(e){
                    e.preventDefault(); $(this).parent('div').remove(); 
                    x--;
                })
            });
        </script>
    </head>
    <body>
        <div class="main">
            <h3 class="heading">RM - PHONEBOOK</h3>
            <div class="container">


    